<a href="https://colab.research.google.com/github/ItsFirekeeper/NLP/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, chi2
from sqlite3 import Error
from sklearn.ensemble import RandomForestClassifier
import sqlite3
import pickle
%matplotlib inline

In [ ]:
data= pd.read_csv("Phrases Dataset.csv")
data.head()

,Id,Phrase,Microaggression,2SLGBTQ+,Gender,Age,Race,Ethnicity,Indigenous,Disability,Class-Based,Religion
0,1,Cool! You’re my first trans friend.,Yes,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,2,Suggesting two people should date just because...,Yes,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,3,"Oh, you don’t look trans.",Yes,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,4,"So, when are you gonna really transition?",Yes,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,5,Assuming same-sex couples are just friends,Yes,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

# New Section